.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

article{
  align-self: center;
  text-align-last: left;
  padding-top: 150px;
}

.content {
  display: none;
}


.collapsiblelink{
  font: Courier New , Bold;
  size: 13px;
  color: #1C7CD6;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  background-color: white;
}


.collapsiblelink:after {
  content: ' \02C3';
  font: Courier New , Bold;
  size: 13px;
  color: #1C7CD6;
  cursor: pointer;
  background-color: white;
  text-align: left;
  float: left;
  font-size: 15px;
  margin-right: 5px;
}

.active:after {
  content: ' \02C5';
}


div.content{

  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Courier New;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #657B83;
  text-align: left;

  margin: auto;
  width: auto;
  padding: 10px;
  border: 2px solid #657B83;
  border-style: inset;
}

pre{
  word-wrap: break-word;
  white-space: pre-wrap;
}