.App {
  text-align: left;
  background: #E5E5E5;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img{
  position: absolute;
  width: 51px;
  height: 51px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.App-link {
  color: #61dafb;
}


div{
  position: absolute;
  width: 1440px;
  left: 0px;
  top: 81px;
  bottom: 0px; 
  background: #FBFDFF;
}

pre{
  position: absolute;
  width: 1027.92px;
  height: 197px;
  left: 6.58px;
  top: 0px;
  
  font-family: Courier New;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #657B83;
}

.blob-code-d
{
  background-color:#ffebe9 ;
  outline: 1px dashed transparent;
  outline-color: transparent;
  outline-style: dashed;
  outline-width: 1px;
}

.blob-code
{
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}